.section {
    background-color: rgba(40, 40, 40, 0);
}

.hidden {
    display: none;
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
}

.selected {
}

.customListView {
    background-color: rgb(29, 29, 29);
}

.fillwindow {
    flex-grow: 1;
}
