.section {
    background-color: var(--unity-colors-default-background);
}

.hidden {
    display: none;
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
}

.selected {
}

.customListView {
    background-color: rgb(29, 29, 29);
}
